@model GarmentSizeViewModel;
@{
    ViewBag.Title= "Chose size";
}
<h1 class="text-black">@ViewBag.Title</h1>
<form asp-action="AddToCart"method="post">
<div class="mb-3">
    <label asp-for="@Model.SizeId" class="form-label-add-edit">Select Brand</label>
    <select asp-for="@Model.SizeId" class="form-control" aria-required="true">
        <option disabled selected value="">Pick size...</option>
        @foreach (var size in Model.Sizes)
        {
            <option value="@size.Id">@size.Name</option>
        }
    </select>
    <span asp-validation-for="@Model.SizeId" class="text-danger"></span>
</div>
<div class="mb-3">
    <input class="btn btn-outline-danger mb-2 w-100 p-3 fw-bold" type="submit" value="Add Garment with size in bag!" />
</div>

</form>

