@model AllGarmentViewModel;
@{
    ViewBag.Collection = $"Our {Model.Season} collection";
    ViewBag.Title = "Our Suggestions";
}
<h1><mark>@ViewBag.Collection</mark></h1>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style>
        .card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            margin: 8px;
            width: 150px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
        }

            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
    </style>
</head>
<body>

    <div class="container">
        @foreach (GarmentViewModel s in Model.Garments)
        {
            //@brandName = s.Brands.Where(b => b.Id == s.BrandId);


            <div class="card">
                <h3>@s.Name</h3>

                <p>@s.Price BGN</p>
                <img src="@s.ImageUrl">
                <form class="input-group-sm" asp-controller="Garment" asp-action="AddToCart" asp-route-id="@s.Id">
                    <input type="submit" value="Add to cart" class="fs-6 btn btn-success mb-2 w-100 p-3 fw-bold"width="60" />
                </form>
                <form class="input-group-sm" asp-controller="Garment" asp-action="Details" asp-route-id="@s.Id">
                    <input type="submit" value="Details" class="fs-6 btn btn-muted mb-2 w-100 p-3 fw-bold "width="60" />
                </form>
            </div>
        }

    </div>

</body>
</html>