@model AllGarmentViewModel;
@{
    ViewBag.Collection = $"Our Winter collection";
    ViewBag.Title = "Our Suggestions";
}
<html>
<head>
    <title>@ViewBag.Title</title>
    <style>
        .card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            margin: 10px;
            width: 300px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
        }

            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        @foreach (GarmentViewModel s in Model.Garments)
        {



            <div class="card">
                <h3>@s.Name</h3>
                <p>@s.Price BGN</p>
                <img src="@s.ImageUrl">
                <p>@s.BrandName</p>
                <form class="input-group-sm" asp-controller="Garment" asp-action="PickSize" asp-route-garmentId="@s.Id">
                    <input type="submit" value="Pick size" class="fs-6 btn btn-success mb-2 w-100 p-3 fw-bold" width="60" />
                </form>
                @if(User.IsInRole("Admin"))
                {
                    <form class="input-group-sm"asp-area="Admin" 
                    asp-controller="Garment" asp-action="Edit" asp-route-id="@s.Id" asp-route-information="@s.GetInformation()"
                    >
                        <input type="submit" value="Edit" class="fs-6 btn btn-success mb-2 w-100 p-3 fw-bold" width="60" />
                    </form>
                    <form class="input-group-sm"asp-area="Admin" asp-controller="Garment" asp-action="Delete" asp-route-id="@s.Id">
                        <input type="submit" value="Delete" class="fs-6 btn btn-danger mb-2 w-100 p-3 fw-bold" width="60" />
                    </form>
                    <form class="input-group-sm" asp-area="Admin" asp-controller="Garment" asp-action="DeleteFromDb" asp-route-id="@s.Id">
                        <input type="submit" value="DeleteFromDb" class="fs-6 btn btn-danger mb-2 w-100 p-3 fw-bold" width="30" />
                    </form>
                }
                <form class="input-group-sm" asp-controller="Garment" asp-action="Details" asp-route-id="@s.Id"
                asp-route-information="@s.GetInformation()">
                    <input type="submit" value="Details" class="fs-6 btn btn-muted mb-2 w-100 p-3 fw-bold " width="60" />
                </form>
            </div>
        }

    </div>

<div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {

                <li class="page-item">
                    <a class="page-link" href="/Garment/All?currentPage =@Model.CurrentPage-1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                if (i == Model.CurrentPage)
                {

                    <li xclass="page-item"><a class="page-link active" href="/Garment/All?currentPage=@i">@i</a></li>
                }
                else
                {
                    <li xclass="page-item"><a class="page-link " href="/Garment/All?currentPage=@i">@i</a></li>
                }
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {

                <li class="page-item">
                    <a class="page-link" href="/Garment/All?currentPage=@Model.CurrentPage+1" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }

        </ul>
    </nav>
</div>
</body>
</html>
