@model GarmentSizeViewModel;
@{
    ViewBag.Title = "Chose size";
}
<h1 class="text-black">@ViewBag.Title</h1>

<h3>Pick garment size!</h3>
<div class="mb-3">
    <form asp-action="AddToCart" method="post" asp-route-sizeName="@Model.SizeName"asp-route-garmentId="@Model.GarmentId" >
    <label asp-for="@Model.SizeName" class="form-label-add-edit">Select Size</label>
    <select asp-for="@Model.SizeName" class="form-control" aria-required="true">
        <option disabled selected value="">Select Brand...</option>
        @foreach (var brand in Model.Sizes)
        {
            <option value="@brand.Id">@brand.Name</option>
        }
    </select>
    <span asp-validation-for="@Model.SizeName" class="text-danger"></span>
    <div class="mb-3">
        <input class="btn btn-outline-danger mb-2 w-100 p-3 fw-bold" type="submit" value="Add Garment to Cart" />
    </div>
    </form>
</div>



